@{
    ViewBag.Title = "MyServices";
}
<script type="text/javascript" src="~/Scripts/Services.js"></script>
<div id="AddSection">
   <!-- @Html.ActionLink("Service : Write Always on your wall", "PostOnWallForEver"); -->
    <div class="row">
        <div class="form-inline">
            <select class="form-control" id="Action"></select>
            <select class="form-control" id="Reaction"></select>
            <button type="button" id="AddActionButton" class="div-inline btn btn-default">Add</button>
        </div>
    </div>
    <div class="row" id="Elements">
        <!-- JavaScripts generation here in Services -->
    </div>
</div>
